name: build

on:
  push:
    branches:
      - main

jobs:
  build:
      name: ${{ matrix.os }} - ${{ matrix.target }}
      runs-on: ${{ matrix.os }}
      strategy:
        fail-fast: false
        matrix:
          include:
            - os: ubuntu-latest
              target: x86_64-unknown-linux-gnu
              file: mcmm
            - os: ubuntu-latest
              target: aarch64-unknown-linux-gnu
              file: mcmm
            - os: windows-latest
              target: x86_64-pc-windows-msvc
              file: mcmm.exe
            - os: macos-latest
              target: x86_64-apple-darwin
              file: mcmm
            - os: macos-latest
              target: aarch64-apple-darwin
              file: mcmm

      steps:
        - uses: actions/checkout@v4

        - name: Install Rust toolchain
          uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
            target: ${{ matrix.target }}
            override: true

        - name: Install cross-compilation tools (Linux aarch64)
          if: matrix.target == 'aarch64-unknown-linux-gnu'
          run: |
            sudo apt-get update
            sudo apt-get install gcc-aarch64-linux-gnu
          shell: bash

        - name: Build
          run: cargo build --release --target ${{ matrix.target }}

        - name: Upload binary artifact
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.target }}
            path: target/${{ matrix.target }}/release/${{ matrix.file }}

  create-release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: build

      - name: Delete old Release
        run: |
          TAG_NAME=release-latest
          gh release delete "$TAG_NAME" --yes || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete old tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git fetch --tags
          git tag -d release-latest || true
          git push origin :refs/tags/release-latest || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git tag release-latest
          git push origin release-latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release-latest
          name: release-latest
          draft: false
          prerelease: false

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/x86_64-pc-windows-msvc
          asset_name: x86_64-windows
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/x86_64-unknown-linux-gnu
          asset_name: x86_64-linux
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/aarch64-unknown-linux-gnu
          asset_name: aarch64-linux
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/x86_64-apple-darwin
          asset_name: x86_64-macos
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/aarch64-apple-darwin
          asset_name: aarch64-macos
          asset_content_type: application/octet-stream